# Ignorar todo
/*

# Permitir el archivo .gitignore
!/.gitignore

# Permitir la carpeta Assets y su subcarpeta AssetsPere
!/Assets/
/Assets/*
!/Assets/AssetsPere/

# Descartar en general la extensión .meta
*.meta